---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: Tuan Nguyen
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Tuan Nguyen</span>, a <button class="button-text js-channel-trigger" data-channel="8">Soldier</button> based in Ho Chi Minh city, data solution engineer and problem solver.
    <br/><br/>
    I'm currently focused on improving strong skills for processing, streaming and building data pipelines <a href="https://www.getcircuit.com/" target="_blank" rel="noopener noreferrer">Circuit Routing</a>.
    <br/><br/>
    I'm a very outgoing and curious person, who's passionate about
    <a href="https://github.com/kaisermann" target="_blank" rel="noopener noreferrer">problem solving</a>,
    <a href="https://instagram.com/kiwistian" target="_blank" rel="noopener noreferrer">handcrafting, cooking, dogs</a>,
    and
    <a href="https://www.last.fm/user/chrispif" target="_blank" rel="noopener noreferrer">instrumentals, orchestras and cinematic music</a>. Here are some <a href="/playlists">playlists</a> to get you going.
    <br/><br/>
    If you'd like to reach out, feel free to <a href="https://calendly.com/kaisermann/15min" target="_blank" rel="noopener noreferrer">schedule a quick call</a> or send me an
    <a href="mailto:mailn@hungtuan.me">e-mail</a>.
  </p>
</article>
